%h1 New Profile


-form_for [@user, @profile] do |f|
  = render "shared/error_messages", :target => @profile
  = yield
  %p
    %label{:for => "Avatar"} Gravatar url
    %br
    = f.text_field :avatar
  %p
    %label{:for => "name"} Name
    %br
    = f.text_field :name
  %p
    %label{:for => "description"} Description
    %br
    = f.text_area :description
  %p
    %table
      %thead
        %tr
          %th Skill
          %th Grade
      %tbody
        - @skills.each do |skill|
          %tr
            %td
              = skill.name
            %td
              - (1..5).each do |num|
                = radio_button_tag "skills[#{skill.id}]", num

  %p
    = submit_tag 'Create'

= link_to 'Back', users_path