%h1 User Profile
=link_to "edit",edit_user_profile_path(@user,@profile)
%h2
  = @profile.name

%img{:src =>"#{@profile.avatar}"}
%br
%p
  =@profile.description
%p
  %table
    %thead
      %tr
        %th Skill
        %th Grade
    %tbody
      -@profile.profile_skills.each do |skill|
        %tr
          %td
            = skill.name
          %td
            = skill.grade
= link_to 'Back', users_path