%h1 New Users

-form_for @user do |f|
  = render "shared/error_messages", :target => @user
  = yield
  %p
    %label{:for => "mail"} Mail
    %br
    = f.text_field :mail
  %p
    %label{:for => "is_admin"} Admin?
    %br
    = f.check_box :is_admin
  %p
    = submit_tag 'Create'

= link_to 'Back', users_path