%h1 New Skill

-form_for @skill do |f|
  = render "shared/error_messages", :target => @skill
  = yield
  %p
    %label{:for => "name"} Name
    %br
    = f.text_field :name
  %p
    %label{:for => "description"} Description
    %br
    = f.text_field :description
  %p
    = submit_tag 'Create'

= link_to 'Back', skills_path